body {
    font-family: 'Museo Sans', sans-serif;
    text-align: center;
    margin: 5px;
    color: #808080;
    background-color: white;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-bottom: 0px;
}

.public {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#company-logo {
    width: 30%;
    height: auto;
    margin-top: 10px;
}
#company-logo2 {
    width: 40%;
    height: auto;
    margin-top: 20px;
}
#hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    /* margin-bottom: 5px; */
    width: 60%;
}

#hero-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    /* margin-bottom: 5px; */
    width: 60%;
}

#hero-image1 {
    width: 65%;
    height: auto;
    margin-left: 60%;
}

#hero-image {
    width: 70%;
    height: auto;
    margin-left: 55%;
}

#query-input, #ask-button, #loginButton {
    padding: 5px;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#user-query-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

#query-input {
    flex-grow: 5;
    margin-right: 10px; /* Adjust as needed */
    width: 100%;
}

#ask-button {
    flex-grow: 1;
    width: 5%; /* Adjust as needed */
}

#response-box {
    width: 50%;
    height: 500px;
    overflow: auto;
    background-color: #f6f6f6;
    color: #eceded;
    resize: none;
    line-height: 1.5;
    font-family: 'Museo Sans', sans-serif;
    color: #0a7db7;
    border: 0.5px solid hsl(180, 0%, 60%);
    border-radius: 5px;
    padding: 10px;
    font-size:18px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginButton {
    background-color: #0167B1;
    color: white;
    width: 40%;
}

#ask-button {
    background-color: #0096DE;
    color: white;
    width: 100px;
    height: 50px;
}

.button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if the container has a fixed height or enough vertical space */
    height: 100%; /* Adjust based on your design */
}
.firebaseui-auth-container{
    margin-left: 15px;
    display: flex;
    justify-content: center; 
}
.public-welcome {
    font-family: 'Museo Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    /* margin: 20px; */
    color: #033E7E;
}
#questionButton {
    border: 0px solid rgb(240, 202, 13);
    border-radius: 5px;
    transition: border-width 0.8s ease-in-out;
    background-color: #0167B1;
    color: #ffffff;
    height: 150px;
    cursor: pointer;
    width: 230px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 20px;
    
}

.circle-button.active, #questionButton.active {
    border: 4px solid rgb(252, 202, 24); /* Adjust color and border size as necessary */
}


.questionButton.active {
    border: 2px solid yellow;
}


#questionButton .button-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

#questionButton i {
    color: #FCCA18;
    font-size: 50px; 
    margin-right: 10px;
    align-items: center;
    margin-top: 10px;
}


#questionButton span {
    color: white;
    text-align: center;
    font-size: 30px; /* Adjust as needed */
    font-weight: bold; /* Makes the text bolder */
    margin-top: 25px;
    margin-bottom: 10px;
}

#questionButton p {
    color: white;
    text-align: left;
    font-size: 14px; /* Adjust as needed */
    margin-top: 10px;
    padding: 3px;
}

#intro-container, #user-query-container {
    width: 80%;  /* Adjust as needed */
    max-width: 800px;
    margin: auto;  /* Prevent the elements from becoming too wide on large screens */
}

#user-query-container {
    display: flex;
    justify-content: center;
}

#query-input {
    flex-grow: 1;
    margin-right: 10px; /* Adjust as needed */
    width: 100%;
    font-family: 'Museo Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300; 

}

#ask-button {
    width: 100px; /* Adjust as needed */
}

#niles-preamble-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Museo Sans', sans-serif;
    text-align: center;
    color: #033E7E;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;    
}
#preamble-plain{
    font-size: 16px;
    font-family: 'Museo Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #808080;
}

#intro-container1 {
    margin-top: 2px;
    border-radius: 5px;
    width: 50%;
}

footer {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
}

.intro-container  {
    font-size: 14px;
    color: grey;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
}

.intro-container1  {
    background-color: rgba(221, 252, 255, 0.993);
    font-size: 14px;
    color: grey;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    
}

p.subnote {
    font-size: 30px !important;
    font-style: italic;
    color: rgb(228, 200, 13);
}

.circle-button h4 {
    font-size: 24px;
    margin: 20px 0px 0px;
}

.circle-button p {
    margin: 5px 0px 20px;
}

@keyframes flash {
    0% {opacity: 0.75;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

#typingMessage {
    animation: flash 4s linear infinite;
    color: #AA8D00; /* This is the color code for orange. Replace it with the code for the color you want. */
}

/* Your existing CSS goes here */

/* Styles for screens with a max width of 1200px */
@media screen and (max-width: 1200px) {
    #hero-image {
        width: 600px;
    }

    #response-box {
        width: 80%;
    }

    #intro-container, #user-query-container, #response-box {
        width: 90%;
    }
}

/* Styles for screens with a max width of 800px */
@media screen and (max-width: 800px) {
    #hero-image {
        width: 70%;
    }

    #response-box {
        width: 90%;
    }

    #intro-container, #user-query-container, #response-box {
        width: 90%;
    }
}

/* Styles for screens with a max width of 600px */
@media screen and (max-width: 600px) {
    #hero-image {
        width: 80%;
    }

    #response-box {
        width: 100%;
    }

    #user-query-container, #response-box {
        width: 100%;
    }
    #intro-container{
        width: 80%;
    }
}
